.ball {
  display: inline-block;
  background: black;
  border-radius: 50%;
  height: 27px;
  width: 27px;
  margin: 0;
}
.red-ball {
  background: #bf1616;
}
.blue-ball {
  background: #0c0c80;
  margin-left: 7px;
}
.white-ball {
  background: #f3f3f3;
  margin-left: 7px;
}

.big-ball {
  height: 300px;
  width: 300px;
}

figure.big-ball.red-ball span.big-text-ball {
  position: relative;
  top: 115px;
  right: 20px;
  color: white;
  font-size: 2.7em;
  word-wrap: break-word;
  display: block;
}

figure.big-ball.blue-ball span.big-text-ball {
  position: relative;
  top: 115px;
  color: white;
  font-size: 2.5em;
  word-wrap: break-word;
  display: block;
}

figure.big-ball.red-ball span.small-text-ball {
  position: relative;
  top: 115px;
  right: -50px;
  color: white;
  font-size: 1em;
  word-wrap: break-word;
}

figure.big-ball.blue-ball span.small-text-ball {
  position: relative;
  top: 115px;
  color: white;
  font-size: 1em;
  word-wrap: break-word;
}

.logo {
  width: 50%;
  background: transparent;
  display: inline-block;
  position: absolute;
  top: 20px;
}

.logo-balls {
  background: transparent;
}

.logo-letters {
  font-family: Verdana;
  font-size: 3em;
  letter-spacing: 1.7rem;
  color: white;
}

.big-balls-bg div.logo {
  width: 50%;
  background: transparent;
  display: inline-block;
  position: absolute;
  top: 115px;
  right: 120px;
}

.big-balls-bg div.logo .logo-letters {
  font-family: Verdana;
  font-size: 2em;
  letter-spacing: 1.2rem;
  color: #525151;
}

.big-balls-bg div.logo .logo-balls {
  left: -46px;
  position: relative;
}

.big-balls-bg div.logo .ball {
  height: 18px;
  width: 18px;
  margin: 0;
}

.big-balls-bg div.logo .white-ball {
  background-color: #dadac6;
}

.section-tipos {
  height: 81px;
  background: #fffcfc;
}

.section-tipos2 {
  height: 27px;
  background: #fffcfc;
}

.tipos {
  width: 100%;
  height: 27px;
  background-color: #0c0c80;
  display: block;
}

.tipos2 {
  width: 100%;
  height: 27px;
  background-color: #bf1616;
  display: block;
}

.tipos3 {
  width: 100%;
  height: 27px;
  background-color: #f3f3f3;
  display: block;
}

.tipos-eventos {
  font-size: 19px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 3px;
  color: white;
}

.speecher-target {
  z-index: -2;
  position: absolute;
  top: -50px;
  right: 0;
}

/* App features */
.big-balls-bg {
  width: 100%;
  padding: 40px 0 40px 0;
  background-color: #fffcfc;
}

.big-balls-bg h1 {
  color: #fff;
  font-family: 'open_semibold', Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 50px 0 0 0;
  word-break: break-word;
}
.big-balls-bg p {
  color: #e0f7eb;
  font-family: 'open_regular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 30px 0 0 0;
  line-height: 28px;
}
.big-balls-bg .details {
  margin-bottom: 80px;
}
.big-balls-bg .details:nth-child(3n + 1) {
  clear: both;
}

.shadow {
  box-shadow: 5px 15px 10px 0 #888888;
}

#sub_box .box-data-sub label {
  color: white;
  font-size: 16px;
}

/* Responsive CSS */
@media (max-width: 390px) {
  .logo-letters {
    font-size: 1.75em;
    letter-spacing: 1.1rem;
  }

  section.hero .caption h1 {
    font-size: 1.5em;
    position: relative;
    left: -70px;
    margin-right: 50px;
  }

  #play_video span {
    font-size: 12px;
  }

  .sub_box div.text-right {
    text-align: left;
  }

  .logo .ball {
    height: 15px;
    width: 15px;
  }

  .big-balls-bg figure.big-ball {
    margin-bottom: 20px;
  }
}
